.Player {
	position: absolute;
	width: 6em;
	height: 5em;
	transform: translateZ(0) translate(30em, 10em);
	animation: none;
	animation-fill-mode: forwards;
}

.Player-model {
	position: absolute;
	/*transition: all 0.3s;*/
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	width: 6em;
	height: 5em;
	background-image: url("../images/fatman-center.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation-play-state: paused;
	animation-name: fly;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
}

@keyframes fly {
	from {
		background-image: url("../images/fatman-center.png");
	}
	25% {
		background-image: url("../images/fatman-up.png");
	}
	75% {
		background-image: url("../images/fatman-center.png");
	}
	to {
		background-image: url("../images/fatman-down.png");
	}
}

.Start-message {
	position: absolute;
	left: 40%;
	-webkit-transform: translateZ(0) translate(0, 10em);
	-webkit-transition: -webkit-transform 0.5s;
}

.Start-message h1 {
	color: white;
}

.Start-message.is-visible {
	-webkit-transform: translateZ(0) translate(0, -40em);
}

.Logo-text {
	position: absolute;
	width: 40em;
	height: 8em;
	left: 30%;
	top: 3%;
	background-image: url('../images/logo-text.png');
	background-size: 100% 100%;
	transform: translateZ(0) translate(0, 0);
	transition: transform 0.5s;
}

.Logo-text.is-visible {
	transform: translateZ(0) translate(0, -40em);
}

.Score-count {
	position: absolute;
	left: 48%;
	top: 5em;
	height: 5em;
	width: 5em;
	margin-left: 0;
	box-sizing: border-box;
	text-align: center;
	-webkit-transform: translateZ(0) translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

.Score-count h1 {
	color: white;
	font-size: 4em;
	line-height: 0;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Score-count.is-visible {
	-webkit-transform: none;
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	text-align: center;
	-webkit-transform: translateZ(0) translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

.Scoreboard h2 {
	font-size: 3em;
	line-height: 0;
}

.Scoreboard h1 {
	color: white;
	font-size: 3em;
	line-height: 1em;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 4em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}

.Scoreboard-restartText {
	font-family: 'Verdana', serif;
	font-size: 2.4em;
	color: white;
}

body {
	background: black;
}

.browsehappy {
	margin: 0.2em 0;
	background: yellow;
	color: #000;
	padding: 0.2em 0;
}

.GameCanvas {
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
	overflow: hidden;
    background-image: url("../images/background.png");
	background-repeat: repeat-x;
	background-size: 400px 576px;
}

.Ground-loop {
	position: absolute;
	width: 1284px;
	height: 100%;
	background-image: url("../images/ground.png");
	background-repeat: repeat-x;
	background-size: 260px 60px;
	background-position: left bottom;
	animation-name: move-ground;
	animation-duration: 2.15s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-play-state: running;
}

@keyframes move-ground {
	from {
		transform: translateZ(0) translateX(0px);
	}
	to {
		transform: translateZ(0) translateX(-260px);
	}
}

.Mute-button {
	position: absolute;
	width: 2.5em;
	height: 2.5em;
	left: 45%;
	background: url("../images/sound-on.png");
	background-size: 100% 100%;
	cursor: pointer;
}

.Pipe-set-1 {
	position: absolute;
	visibility: hidden;
	width: 8.5em;
	height: 100%;
	bottom: 0%;
	transform: translateZ(0);
}

.Pipe-Top1 {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 65%;
	background-image: url("../images/kryptonite.png");
	background-size: 100% 100%;
	transform: translateZ(0) rotate(180deg);
}

.Pipe-Bottom1 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 65%;
	background-image: url("../images/kryptonite.png");
	background-size: 100% 100%;
}

.Pipe-set-2 {
	position: absolute;
	visibility: hidden;
	width: 8.5em;
	height: 100%;
	bottom: 10%;
	transform: translateZ(0);
}

.Pipe-Top2 {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 65%;
	background-image: url("../images/kryptonite.png");
	background-size: 100% 100%;
	transform: translateZ(0) rotate(180deg);

}

.Pipe-Bottom2 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 65%;
	background-image: url("../images/kryptonite.png");
	background-size: 100% 100%;
}

.Pipe-set-3 {
	position: absolute;
	visibility: hidden;
	width: 8.5em;
	height: 100%;
	bottom: -5%;
	transform: translateZ(0);
}

.Pipe-Top3 {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 65%;
	background-image: url("../images/kryptonite.png");
	background-size: 100% 100%;
	transform: translateZ(0) rotate(180deg);

}

.Pipe-Bottom3 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 65%;
	background-image: url("../images/kryptonite.png");
	background-size: 100% 100%;
}

.Pipe-set-4 {
	position: absolute;
	visibility: hidden;
	width: 8.5em;
	height: 100%;
	bottom: 25%;
	transform: translateZ(0);
}

.Pipe-Top4 {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 65%;
	background-image: url("../images/kryptonite.png");
	background-size: 100% 100%;
	transform: translateZ(0) rotate(180deg);

}

.Pipe-Bottom4 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 65%;
	background-image: url("../images/kryptonite.png");
	background-size: 100% 100%;
}