.Player {
	position: absolute;
	width: 5em;
	height: 4em;
	transform: translate(30em, 10em);
	animation: none;
	animation-fill-mode: forwards;
}

.Player-model {
	position: absolute;
	/*transition: all 0.3s;*/
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	width: 5em;
	height: 4em;
	background-image: url("../images/bird.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
/*
.fly-up-animation {
	animation: fly-up 0.3s 1;
}

.fly-down-animation {
	animation-name: dive-down;
	animation-duration: 0.3s;
	animation-delay: 0.4s;
}*/

.Player-wings {
	position: absolute;
	left: 0.25em;
	top: 0.4em;
	height: 1em;
	width: 2em;
	margin-top: 1em;
	margin-left: 1em;

	background: yellow;
	transform-origin: top left;
	animation: 0.4s flap alternate infinite;
}

@keyframes flap {
	from {
		transform: rotateX(0);
	}
	to {
		transform: rotateX(180deg);
	}
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
	font-family: 'Comic Sans MS', serif;
	font-size: 2.4em;
	color: white;
}

body {
	background: black;
}

.browsehappy {
	margin: 0.2em 0;
	background: yellow;
	color: #000;
	padding: 0.2em 0;
}

.GameCanvas {
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
	overflow: hidden;
    background-image: url("../images/background.png");
	background-repeat: repeat-x;
	background-size: 400px 576px;
}

.Ground-loop {
	position: absolute;
	width: 1284px;
	height: 100%;
	background-image: url("../images/ground.png");
	background-repeat: repeat-x;
	background-size: 260px 60px;
	background-position: left bottom;
	animation-name: move-ground;
	animation-duration: 2.15s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-play-state: running;
}

@keyframes move-ground {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(-260px);
	}
}

.Pipe-set-1 {
	position: absolute;
	visibility: hidden;
	width: 8.5em;
	height: 100%;
}

.Pipe-Top1 {
	position: absolute;
	height: 35%;
	width: 100%;
	background-image: url("../images/pipe.png");
	background-size: 100% 100%;
	transform: rotate(180deg);

}

.Pipe-Bottom1 {
	position: absolute;
	top: 65%;
	height: 35%;
	width: 100%;
	background-image: url("../images/pipe.png");
	background-size: 100% 100%;
}

.Pipe-set-2 {
	position: absolute;
	visibility: hidden;
	width: 8.5em;
	height: 100%;
}

.Pipe-Top2 {
	position: absolute;
	height: 35%;
	width: 100%;
	background-image: url("../images/pipe.png");
	background-size: 100% 100%;
	transform: rotate(180deg);

}

.Pipe-Bottom2 {
	position: absolute;
	top: 65%;
	height: 35%;
	width: 100%;
	background-image: url("../images/pipe.png");
	background-size: 100% 100%;
}

.Pipe-set-3 {
	position: absolute;
	visibility: hidden;
	width: 8.5em;
	height: 100%;
}

.Pipe-Top3 {
	position: absolute;
	height: 35%;
	width: 100%;
	background-image: url("../images/pipe.png");
	background-size: 100% 100%;
	transform: rotate(180deg);

}

.Pipe-Bottom3 {
	position: absolute;
	top: 65%;
	height: 35%;
	width: 100%;
	background-image: url("../images/pipe.png");
	background-size: 100% 100%;
}

.Pipe-set-4 {
	position: absolute;
	visibility: hidden;
	width: 8.5em;
	height: 100%;
}

.Pipe-Top4 {
	position: absolute;
	height: 35%;
	width: 100%;
	background-image: url("../images/pipe.png");
	background-size: 100% 100%;
	transform: rotate(180deg);

}

.Pipe-Bottom4 {
	position: absolute;
	top: 65%;
	height: 35%;
	width: 100%;
	background-image: url("../images/pipe.png");
	background-size: 100% 100%;
}